.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust based on your layout */
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px; /* Adjust size as needed */
  height: 64px; /* Adjust size as needed */
  margin: 8px; /* Adjust spacing as needed */
  border: 8px solid #f3f3f3; /* Light color for ring */
  border-radius: 50%;
  border-top: 8px solid #3498db; /* Color for the animated part */
  animation: lds-ring 1.2s linear infinite;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 40px;
  --c: no-repeat linear-gradient(rgb(0, 132, 255) 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 21px 21px;
  animation: l5 0.8s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px;
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px;
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
